@forward './globals';
@use "mixins" as *;
@use "./utils" as u;


.header {
    background-color: var(--bg);
    position: fixed;
    top: 0; right: 0; left: 0;
    z-index: 90;
    @include flexCenter();
    justify-content: space-around;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);

    &__logo {
        cursor: pointer;
        font-size: large;
        font-style: italic;
        font-variant: small-caps;
        font-family: cursive;
        text-transform: uppercase;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        span {
            color: var(--main-color);
            text-decoration: none;
            
        }
        &::after {
            content: "";
            position: absolute;
            right: -7px; bottom: 3px;
            width: 7px;
            height: 7px;
            background-color: var(--main-color);
            border-radius: 50%;
        }
    }

    &__nav {
        height: 100vh;
        position: absolute;
        top: 0;
        right: -100%;
        width: 70vw;
        background-color: var(--bg);
        z-index: 100;
        display: none;
        


        span {
            position: relative;
            top: u.rem(20);
            left: u.rem(30);
            margin-bottom: u.rem(10);
            font-size: u.rem(30);


            &:hover {
                color: var(--main-color);
                transform: rotate(360deg);
            }
        }
        

        &.toggle {
            right: 0;
            display: block;
        }

        a {
            display: block;
            color: var(--black);
            margin-top: 20px;
            margin-left: 18px;
            position: relative;
            font-weight: 500;
            letter-spacing: 1px;
            width: fit-content;
            text-transform: capitalize;

            &::after {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0; 
                width: 0;
                height: 3px;
                background-color: var(--main-color);
                border-radius: 3px;
                transition: 0.2s width linear;

            }

            &:hover::after, &:focus::after {
                width: 70%;
                transition: 0.4s width linear;


            }
            
            &.active {
                color: var(--main-color);

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    left: 0; 
                    width: 60%;
                    height: 3px;
                    background-color: var(--main-color);
                    border-radius: 3px;

                }
            }
        }
    }

    &__icons i {
    color: var(--black);
    cursor: pointer;
    margin-right: 5px;

    &:hover {
        color: var(--main-color);
    }

    }

    @include breakpoint-up(medium) {
        @include flexCenter();
        justify-content: space-around;
        
        &__nav {
            height: 10%;
            position: relative;
            right: 0;
            display: block;
            margin: 0 10px;
            z-index: 0;
            width: auto;
            padding: 10px;
   
            span {
                display: none;
            }
    
            a {
                display: inline-block;
                margin-top: 0;
                margin-left: u.rem(5);
                position: relative;
                font-weight: 500;
                font-size: u.rem(16);
            
        
    
                &:hover, &:focus {
                    transform: translateX(0);
    
                }
            }
        }

        &__icons {
            .fa-bars {
                display: none;
            }
        }
    }
    @include breakpoint-up(large) {
        @include flexCenter();
        justify-content: space-around;
        
        &__nav {
            a {
                margin-left: u.rem(10);
                font-size: u.rem(18);
            }
        }

        &__icons {
            a {
                font-size: u.rem(18)
            }
        }
    }
    @include breakpoint-up(xlarge) {
        @include flexCenter();
        justify-content: space-around;
        
        &__nav {
            a {
                margin-left: u.rem(15);
                font-size: u.rem(21);
            }
        }
        &__icons {
            a {
                font-size: u.rem(20)
            }
        }
    }

}


//-----BANNER STYLING -------

.banner {
    background-image: url(../assets/about/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    width: 100%;
    @include flexCenter();
    color: #fff;
    text-align: center;
    line-height: 1.7;

    h3 {
        letter-spacing: u.rem(2);
        font-size: u.rem(25);
    }

    @include breakpoint-up(medium) {
        h3 {
            font-size: u.rem(35);
        }
    }
    @include breakpoint-up(large) {
        h3 {
            font-size: u.rem(45);
        }
    }
    @include breakpoint-up(xlarge) {
        h3 {
            font-size: u.rem(55);
        }
    }

    @include breakpoint-landscape() {
        height: 25vh;
    }
}


// ----------LOCATION STYLING---------


.location {
    @include flexCenter(column);
    row-gap: u.rem(20);

        .location__details {
            width: 100% ;
            height: 100%;
            @include flexCenter(column);
            align-items: flex-start;

            p {
                text-transform: uppercase;
                font-size: u.rem(14);
            }

            h3, h5, p {
                margin-bottom: u.rem(13);
            }
            h3 {
                text-transform: initial;
            }

            .location__headOffice {
                @include flexCenter(column);
                justify-content: center;
                align-items: flex-start;
                gap: u.rem(2) ;
                
                &-address, &-email, &-telephone, &-workingHours {
                    @include flexCenter();
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    column-gap: u.rem(12);
                    margin-bottom: 10px;
                    color: #6b6969;
                }

                &-address p, &-email p, &-telephone p, &-workingHours p {
                        font-size: u.rem(12);
                        text-transform: initial;
                        margin: auto 0;
                }
            }

        }

        &__map {
            width: 100%;
            height: 300px;

            iframe {
                width: 100%;
                height: 100%;
            }
        }

    
        

    @include breakpoint-up(medium) {
        @include flexCenter();
        column-gap: u.rem(28);


        .location__details {
            @include flexCenter(column);
            align-items: flex-start;
            width: 40%;
            padding: u.rem(10);
            flex-wrap: nowrap;
            p {
                font-size: u.rem(16);
            }

            .location__headOffice {
                &-address p, &-email p, &-telephone p, &-workingHours p {
                    font-size: u.rem(14);
            }
            }
        }
    
        &__map {
            width: 55%;
            height: 400px;
        }
    
    }
    @include breakpoint-up(xlarge) {
        .location__details {
            p {
                font-size: u.rem(28);
            }
            h3, h5, p {margin-bottom: u.rem(13);}
            h3 {
                text-transform: initial;
                font-size: u.rem(29);
            }
            h5 {
                font-size: u.rem(23);
            }

            .location__headOffice {
                &-address, &-email, &-telephone, &-workingHours > i, p {
                    font-size: u.rem(20);
            }
            }
        }
    
    }
}


// -----FORM SECTION STYLING-------

.formSection {
    border: 1px solid #dfdcdc;
    padding: u.rem(15);
    display: flex;
    flex-direction: column;

    &__form {
        p {
            text-transform: uppercase;
            font-size: u.rem(14);
            margin-bottom: u.rem(15);
        }
        h3 {
            text-transform: initial;
            margin-bottom: u.rem(15);
        }

        .formSection__inputBox {
            margin-bottom: u.rem(15);
            border: 1px solid #dfdcdc;
            padding: 5px;
            
            input, textarea {
                @include input();
                padding: 0;

                width: 100%;
            }

            textarea {
                height: u.rem(90);
                background-color: none;
            }


        }

        button {
            @include btn();
            width: 100%;
            margin-bottom: u.rem(15);
        }
    }

    &__employers {
        @include flexCenter(column);
        align-items: flex-start;


        .formSection__employer {
            
            display: flex;
            align-items: flex-start;
            width: 100%;
            margin-bottom: u.rem(20);

            img {
                width: 40px;
                height: 40px;
                margin-right: 15px;
                object-fit: cover;
            }

            p {
                font-size: u.rem(12);
                line-height: 1.6;
                margin: 0;

                span {
                    font-weight: bolder;
                    display: block;
                }
            }
        }
    }

    @include breakpoint-up(medium) {
        @include flexCenter();
        align-items: flex-start;
        justify-content: space-between;
        padding: u.rem(30);

        &__form {
            width: 50%;
            margin-right: u.rem(10);
    
            .formSection__inputBox {
                 input, textarea {
                    @include input();
                    padding: 8;
    
                }
            }
        }

        &__employers {
            @include flexCenter(column);
            align-items: flex-end;
        justify-content: flex-end;
    
    
            .formSection__employer {

                img {
                    width: 50px;
                    height: 50px;
                }
                p {
                    font-size: u.rem(14);
                    line-height: 1.6;
                }
            }
        }
    }
    @include breakpoint-up(large) {
        padding: u.rem(65);

        &__form {
            p {
                font-size: initial;
            }
            h3 {
                margin-bottom: u.rem(20);
            }
            .formSection__inputBox {
                 input, textarea {
                    padding: 10px;
    
                }
            }
            button {
                @include btn();
                padding: 20px 0;
            }
        }

        &__employers {
            .formSection__employer {

                img {
                    width: 60px;
                    height: 60px;
                }
                p {
                    font-size:initial;
                }
            }
        }
    }
    @include breakpoint-up(xlarge) {
            padding: u.rem(70);

        &__form {
            .formSection__inputBox {
                 input, textarea {
                    padding: 15px;
                }
            }
        }

        &__employers {
            width: 45%;
            .formSection__employer {

                img {
                    width: 70px;
                    height: 70px;
                }
                p {
                    font-size:u.rem(18);
                }
            }
        }
    }
}
    


// -----NEWSLETTER STYLING--------

.newsletter {
    background-color: rgb(14, 14, 68);
    height: 35vh;
    padding: u.rem(20);
    @include flexCenter(column);
    row-gap: u.rem(15);

    &__text {

        h3 {
            color: #fff;
            margin-bottom: u.rem(5);
        }
    
        h6 {
            color: grey;
    
            span {
                color: orangered;
            }
        }
    }

    &__form {
        @include flexCenter();
        flex-wrap: nowrap;
        
        input {
            @include input();
            background: #fff;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            width: 60%;
        }
    
        .newsletter__btn {
            @include btn();
            background-color: var(--main-color);
            padding: u.rem(16);
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            white-space: nowrap;
        }

        @include breakpoint-up(medium) {
            @include flexCenter();
            flex-wrap: nowrap;
            justify-content: flex-start;
        }
    }

    @include breakpoint-up(medium) {
        @include flexCenter();
        justify-content: space-evenly;

        &_form {
            width: 50%;

            input {
                width: 100%;
            }
        }
        
        
        &__text {
            width: 50%;

            h3 {
                margin-bottom: u.rem(5);
                font-size: u.rem(14);
            }
        
            h6 {
                font-size: u.rem(14);
            }
        }
    }
    @include breakpoint-up(large) {
        @include flexCenter();
        justify-content: space-evenly;

        &__form {
            padding: 20px;
            width: 50%;
            justify-content: center;

            input {
                width: 70%;
                padding: u.rem(20);
            }
        
            .newsletter__btn {
                padding: u.rem(20);
            }
        }

        &__text {
            width: 40%;

            h3 {
                margin-bottom: u.rem(6);
                font-size: u.rem(16);
            }
        
            h6 {
                font-size: u.rem(16);
            }
        }
    }

    @include breakpoint-landscape() {
        height: 25vh;
    }

}

// ------FOOTER STYLING-------

.footer {
    margin-top: 5%;
    @include flexCenter(column);
    align-items: flex-start;
    justify-content: flex-start;
    padding: u.rem(10) u.rem(15) ;

    // THOSE WITH COMMON STYLING IN FOOTER ARE GROUP TOGETHER=======
    &__address, &__about, &__myAccount, &__app {
        @include flexCenter(column);
        align-items: flex-start;
        justify-content: flex-start;
        margin-right: u.rem(20);
    }

    &__about-links, &__myAccount-links {
        @include flexCenter(column);
        align-items: flex-start;
        line-height: 1.5;
        font-size: u.rem(14);
    }

    //GROUPED TOGETHER ENDS-----------------

    &__address {
        line-height: 1.5;
        a, h3 {
            margin-bottom: u.rem(20);

        }

        .footer__socialMedia {
            margin-top: u.rem(20);

            h3 {
                margin-bottom: u.rem(5);
            }
            .footer__social-links {
                a {
                    margin-right: u.rem(10);
                    font-size: u.rem(15);
                    border: 3px solid #dfdcdc;
                    padding: u.rem(7);
                    border-radius: 50%;
                    transform: scale(1);

                    &:hover {
                        color: #000;
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    &__about, &__myAccount, &__app {
        h3 {
            margin-bottom: u.rem(20);
        }
    }


    &__app {
        p {
            margin-bottom: u.rem(13);
        }

        &-container {
            @include flexCenter(column);
           align-items: flex-start;
           row-gap: u.rem(10);
           justify-content: flex-start;

           @include breakpoint-up(medium) {
               @include flexCenter();
               justify-content: flex-start;
           }
           img {
            border: u.rem(2) solid var(--bg);
            border-radius: u.rem(3);
            margin-right: u.rem(5);

            &:hover {
            border: u.rem(2) solid #555;
            }

           }
        }
    }

    &__copyright {
        text-align: center;
       margin: u.rem(20) 0;
       background-color: var(--grey-main-color);
       padding: u.rem(10) 0;
       @include flexCenter();
    }
    
    a, p {
        font-size: u.rem(12);
        color: rgb(107, 105, 105);

        &:hover {
            color: #000;
            transform: translateX(10px);
        }

    }

    @include breakpoint-up(medium) {
        @include flexCenter();
        align-items: flex-start;
        justify-content: space-evenly;
    
        &__about-links, &__myAccount-links {
            font-size: u.rem(14);
        }        
        a, p {
            font-size: u.rem(14);    
        }
    }
    @include breakpoint-up(large) {
    
        &__about-links, &__myAccount-links {
            font-size: initial;
        }        
        a, p {
            font-size: initial;    
        }
    }
}
