:root{
    --black: #030301;
    --bg: #CAD8DE;
    --border: .1rem solid #fff;
    --grey-main-color: #e6f7dc;
    --main-color: #60993E;
    --body-color: #ffffff;
    --btn-hover: #c0eea5;
}