@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap');

body {
    background-color: var(--body-color);
}
section {
    margin: 7% 5%;
}

ul, li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
}


a {
    color: var(--black);

    &:hover {
        color: var(--main-color);
    }
}